<div class="flex w-content items-center justify-between rounded-xl bg-card p-3" @onclick=HandleClick>
    <div class="grid">
        <div class="flex items-center gap-2">
            <img class="favorite-icon size-icon-md" src=@($"icons/favorites{(Code?.Favorite ?? false ? "-active" : string.Empty)}.svg") />
            <h2 class="max-w-text-narrow text-left font-semibold break-words">@Code?.Value</h2>
        </div>
        <div class="mt-2 flex gap-4 text-sm text-muted">
            <h2>@Code?.Format</h2>
            <h2>@Code?.Type</h2>
            <h2>@Code?.Source</h2>
        </div>
    </div>
    <div class="grid place-items-end text-sm">
        <img class="rect-arrow size-icon-sm" src="icons/arrow.svg" />
    </div>
</div>

@code {
    [Parameter]
    public CodeModel? Code { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> HandleClick { get; set; }
}
