<div class="flex w-content items-center justify-between rounded-xl bg-card p-3" @onclick=HandleClick>
    <div class="grid">
        <div class="flex items-center gap-6">
            <img class="generate-icon size-icon-md" src=@IconPath />
            <h2 class="max-w-text-narrow text-left font-semibold break-words">@Text</h2>
        </div>
    </div>
    <div class="grid place-items-end text-sm">
        <img class="rect-arrow size-icon-sm" src="icons/arrow.svg" />
    </div>
</div>

@code {
    [Parameter]
    public string? IconPath { get; set; }

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> HandleClick { get; set; }
}
