@inject NavigationManager NavigationManager
@inject LocalStorageService LocalStorageService

<nav class="tab-bar fixed bottom-0 z-50 flex h-[50px] w-screen justify-between bg-primary">
    @foreach (string tabName in new[] { "scan", "generate", "favorites", "history" })
    {
        <TabBarNavLink NavigationManager=@NavigationManager LocalStorageService=@LocalStorageService TabName=@tabName />
    }
</nav>
