@page "/generate"
@page "/generate/{QRText}"

@inject LocalStorageService LocalStorageService
@inject IJSRuntime JSRuntime

<TabHeader Name="Generate" HandleInput="HandleInput" InputPlaceholder="Enter Text" />

<div class="main-content flex flex-col items-center gap-4 w-[90vw]">
    @if (_QRImageBase64 is not null)
    {
        <img class="w-[70vw] rounded-xl" src="@_QRImageBase64" />

        <div class="grid gap-4 text-lg font-semibold w-[50vw]">
            <button class="p-3 bg-blue-500" @onclick="SaveQRAsync">Save To Gallery</button>
            <button class="p-3 bg-emerald-500" @onclick="ShareQRAsync">Share Image</button>

            @if (_showSaveToHistoryButton)
            {
                <button class="p-3 bg-orange-600" @onclick="SaveQRToHistoryAsync">Save To History</button>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public string? QRText { get; set; }

    private byte[]? _QRBytes;
    private string? _QRImageBase64;
    private bool _showSaveToHistoryButton;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("adjustContentMargin");
    }

    protected override async Task OnInitializedAsync()
    {
        await LocalStorageService.SaveActiveTabAsync("/generate");
    }

    private void HandleInput(ChangeEventArgs e)
    {
        string? searchInput = e.Value?.ToString();

        QRText = e.Value?.ToString();
        GenerateQRCodeAsync();
    }

    private async void GenerateQRCodeAsync()
    {
        if (string.IsNullOrWhiteSpace(QRText))
        {
            _QRBytes = null;
            _QRImageBase64 = null;
            return;
        }

        QRCodeGenerator qrGenerator = new QRCodeGenerator();
        QRCodeData qrCodeData = qrGenerator.CreateQrCode(QRText, QRCodeGenerator.ECCLevel.L);

        PngByteQRCode qRCode = new PngByteQRCode(qrCodeData);

        _QRBytes = qRCode.GetGraphic(20);
        _QRImageBase64 = $"data:image/png;base64,{Convert.ToBase64String(_QRBytes)}";
        _showSaveToHistoryButton = !await QRExistsInHistoryAsync();

        StateHasChanged();
    }

    private async void SaveQRAsync()
    {
        if (_QRBytes is null)
            return;

        await MediaGallery.SaveAsync(MediaFileType.Image, _QRBytes, "QR.png");

        IToast toast = Toast.Make("Saved to Gallery", ToastDuration.Short, 14);
        await toast.Show();
    }

    private async void ShareQRAsync()
    {
        if (_QRBytes is null)
            return;

        string path = FileSystem.Current.CacheDirectory;
        string fileName = "QRCode.png";
        string fullPath = Path.Combine(path, fileName);

        await File.WriteAllBytesAsync(fullPath, _QRBytes);
        string file = Path.Combine(FileSystem.CacheDirectory, fileName);

        await Share.Default.RequestAsync(new ShareFileRequest
            {
                Title = "Share QR Code",
                File = new ShareFile(file)
            });
    }

    private async Task SaveQRToHistoryAsync()
    {
        BarcodeResult QR = new BarcodeResult() { RawValue = QRText, BarcodeType = BarcodeTypes.Text, BarcodeFormat = BarcodeFormats.QRCode };
        await LocalStorageService.SaveQRAsync(QR, "Generated");
        _showSaveToHistoryButton = false;

        IToast toast = Toast.Make("Saved to History", ToastDuration.Short, 14);
        await toast.Show();
    }

    private async Task<bool> QRExistsInHistoryAsync()
    {
        List<QRModel> QRHistory = await LocalStorageService.GetQRAllAsync();

        return QRHistory.Any(qr => qr.Value == QRText);
    }
}
