@page "/"

@inject NavigationManager NavigationManager
@inject LocalStorageService LocalStorageService

<h1>Home</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        NavigationManager.NavigateTo(await LocalStorageService.GetActiveTab());
    }
}
