@page "/ScanResult/{Id}"

@inject CameraScannerService CameraScannerService
@inject LocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

<h1>Value: @(_QR?.Value ?? "")</h1>
<h1>Type: @(_QR?.Type ?? "")</h1>
<h1>Format: @(_QR?.Format ?? "")</h1>

<button @onclick="NavigateToScan">To Camera Scan</button>
<button @onclick="NavigateToHome">To Home</button>

@code {
    [Parameter]
    public string? Id { get; set; }

    private QRModel? _QR;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        if (Id is null)
            NavigateToHome();

        _QR = await LocalStorageService.GetQRAsync(Id!);
        StateHasChanged();
    }

    private void NavigateToScan()
    {
        App.Current.MainPage.Navigation.PushModalAsync(new CameraScanner(CameraScannerService));
    }
    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}