@page "/scanresult"
@page "/scanresult/{Id}"

@inject NavigationManager NavigationManager
@inject LocalStorageService LocalStorageService


<h1>Value: @(_QR?.Value ?? "")</h1>
<h1>Type: @(_QR?.Type ?? "")</h1>
<h1>Format: @(_QR?.Format ?? "")</h1>

@code {
    [Parameter]
    public string? Id { get; set; }

    private QRModel? _QR;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        if (Id is null)
        {
            if (await LocalStorageService.GetActiveTab() is "/scanresult")
                NavigationManager.NavigateTo("/history");
            else
                NavigationManager.NavigateTo("/scan");
        }

        await LocalStorageService.SaveActiveTab("/scanresult");

        _QR = await LocalStorageService.GetQRAsync(Id!);
        StateHasChanged();
    }
}
