@inject NavigationManager NavigationManager
@inject LocalStorageService LocalStorageService

@if (Href == "/scan")
{
    <div class="flex flex-1 items-center justify-center" @onclick="() => App.Current!.MainPage!.ShowPopup(new CameraScanner(NavigationManager, LocalStorageService))">
        <img class="h-[30px] w-[30px] transition ease-in-out duration-300" src="scan.svg" />
    </div>
}
else
{
    <NavLink class="flex flex-1 items-center justify-center" href="@Href">
        <img class="h-[30px] w-[30px] transition ease-in-out duration-300 @IsActiveTab(Href)" src="@IconSrc" />
    </NavLink>
}

@code {
    [Parameter]
    public string Href { get; set; } = "";

    [Parameter]
    public string IconSrc { get; set; } = "";

    private async Task<string> IsActiveTab(string tabName)
    {
        string activeTab = await LocalStorageService.GetActiveTabAsync();
        return activeTab.Contains(tabName) ? "active" : "";
    }
}

<style>
    img {
        filter: invert(60%) sepia(5%) saturate(200%) hue-rotate(177deg) brightness(88%) contrast(82%);
    }

    .active img {
        filter: invert(25%) sepia(85%) saturate(4959%) hue-rotate(214deg) brightness(104%) contrast(104%);
    }
</style>
