<div class="flex w-[90vw] items-center justify-between rounded-xl bg-[#1F1F1F] p-3" @onclick="HandleClick">
    <div class="grid">
        <div class="flex items-center gap-6">
            <img class="generate-icon h-[20px] w-[20px]" src=@IconPath />
            <h2 class="max-w-[70vw] break-words text-left font-semibold">@Text</h2>
        </div>
    </div>
    <div class="grid place-items-end text-sm">
        <img class="qr-rect-arrow h-[20px] w-[20px]" src="icons/arrow.svg" />
    </div>
</div>

@code {
    [Parameter]
    public string? IconPath { get; set; }

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> HandleClick { get; set; }
}
