<div class="flex justify-between items-center bg-[#1F1F1F] p-3 rounded-xl w-[90vw]">
    <div class="grid overflow-hidden text-sm">
        <h2 class="text-left text-white font-semibold">@QR?.Value</h2>
        <div class="flex mt-2 gap-4 text-gray-500">
            <h2>@QR?.Format</h2>
            <h2>@QR?.Type</h2>
        </div>
    </div>
    <div class="grid place-items-end text-sm">
        <img class="qr-rect-arrow h-[30px] w-[30px]" src="arrow.svg" />
        <h2 class="text-gray-500">@QR?.Source</h2>
    </div>
</div>

@code {
    [Parameter]
    public QRModel? QR { get; set; }
}