@inject IJSRuntime JSRuntime

@if (!string.IsNullOrWhiteSpace(IconPath))
{
    <div>
        <button class="@($"{(IconPath.Contains("share") ? "share" : IconPath.Contains("favorite") ? "favorite" : IconPath.Contains("delete") ? "delete" : "action")}-button") rounded-full bg-[--primary-color] p-3"
                @ref="_actionButton" @onclick="HandleOnClickAsync">
            <img class="h-[30px] w-[30px]" src="@IconPath" />
        </button>
        <h3 class="mt-2 text-sm">@Text</h3>
    </div>
}

@code {
    [Parameter]
    public string? IconPath { get; set; }

    [Parameter]
    public MarkupString? Text { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> HandleClick { get; set; }

    private ElementReference _actionButton;

    private async Task HandleOnClickAsync(MouseEventArgs args)
    {
        await JSRuntime.InvokeVoidAsync("playButtonAnimation", _actionButton);

        if (HandleClick.HasDelegate)
            await HandleClick.InvokeAsync(args);
    }
}
