@inject NavigationManager NavigationManager
@inject LocalStorageService LocalStorageService

@if (TabName == "scan")
{
    <div class="tab-bar-nav-link flex flex-1 items-center justify-center" @onclick="ShowCameraScannerPopupAsync">
        <img class="h-[30px] w-[30px]" src="icons/scan.svg" />
    </div>
}
else
{
    <NavLink class="tab-bar-nav-link flex flex-1 items-center justify-center" href="@($"/{TabName}")">
        <img class="@(string.IsNullOrWhiteSpace(_activeTab) || !_activeTab.Contains(TabName!) ? "" : "active") h-[30px] w-[30px] transition duration-300 ease-in-out"
             src="@($"icons/{TabName}{(string.IsNullOrWhiteSpace(_activeTab) || !_activeTab.Contains(TabName!) ? "" : "-active")}.svg")" />
    </NavLink>
}

@code {
    [Parameter]
    public string? TabName { get; set; }

    private string? _activeTab;
    private bool _isPopupShown;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        _activeTab = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).Split('/').FirstOrDefault();
    }

    private async Task ShowCameraScannerPopupAsync()
    {
        if (_isPopupShown)
            return;

        _isPopupShown = true;

        try
        {
            await App.Current!.MainPage!.ShowPopupAsync(new CameraScanner(NavigationManager, LocalStorageService));
        }
        finally
        {
            _isPopupShown = false;
        }
    }
}
