@inherits PageBase

@page "/generate"

@inject NavigationManager NavigationManager
@inject LocalStorageService LocalStorageService

<TabHeader Name=@RoutePaths.GENERATE_LABEL />

<div class="main-content grid w-content gap-2">
    <h1 class="text-2xl font-semibold">QR</h1>

    @foreach (QrFormatInfo qrFormat in QrFormats.All)
    {
        <GenerateRectangle IconPath=@($"icons/generate/{qrFormat.Type.ToLowerInvariant()}.svg")
                           Text=@qrFormat.DisplayName
                           HandleClick=@(() => NavigationManager.NavigateTo($"{RoutePaths.GENERATE}/{qrFormat.Type}/{QrFormats.QR_CODE_FORMAT}")) />
    }

    <h1 class="mt-4 text-2xl font-semibold">Barcode</h1>

    @foreach (BarcodeFormatInfo barcodeFormat in BarcodeFormats.All)
    {
        <GenerateRectangle IconPath="icons/generate/barcode.svg"
                           Text=@barcodeFormat.Format
                           HandleClick=@(() => NavigationManager.NavigateTo($"{RoutePaths.GENERATE}/{barcodeFormat.Type}/{barcodeFormat.Format}")) />
    }
</div>

<TabBar />

@code {
    /// <summary>
    /// Saves active tab.
    /// </summary>
    protected override async Task OnInitializedAsync() =>
        await LocalStorageService.SaveActiveTabAsync(RoutePaths.GENERATE);
}
