@inherits PageBase

@page "/generate/{Type}/{Format}"

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject LocalStorageService LocalStorageService

<TabHeader Name=@($"Generate {Format}") />

<div class="main-content grid w-[90vw]">
    @if (_model is not null)
    {
        <EditForm Model=@_model OnValidSubmit=HandleSubmitAsync>
            <DataAnnotationsValidator />
            <ValidationSummary />
            @foreach (PropertyInfo property in _model.GetType().GetProperties())
            {
                <label class="my-2 block" for=@property.Name>@property.Name</label>

                string[]? dropdownOptions = property.GetCustomAttribute<DropdownOptionsAttribute>()?.Options;
                if (dropdownOptions is not null)
                {
                    <select class="border-input placeholder-gray-400 w-[90vw] rounded-xl border bg-primary p-2 focus-visible:ring-ring focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
                            @onchange=@((ChangeEventArgs e) => SetValue(property, e.Value))>
                        @foreach (string option in dropdownOptions)
                        {
                            <option value=@option>@option</option>
                        }
                    </select>
                }
                else
                {
                    string? inputType = property.GetCustomAttribute<InputTypeAttribute>()?.Type;
                    object? propertyValue = property.GetValue(_model);

                    if (property.PropertyType == typeof(DateTime) && propertyValue is not null)
                        propertyValue = ((DateTime)propertyValue).ToString("yyyy-MM-ddTHH:mm");

                    <input class="border-input placeholder-gray-400 w-[90vw] rounded-xl border bg-primary p-2 focus-visible:ring-ring focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
                           type=@inputType
                           value=@propertyValue
                           step=@(property.PropertyType == typeof(double) || Nullable.GetUnderlyingType(property.PropertyType) == typeof(double) ? "0.000001" : "1")
                           @onchange=@((ChangeEventArgs e) => SetValue(property, e.Value)) />
                }
            }
            <button class="mt-4 rounded-xl bg-primary p-3 text-2xl" type="submit" @ref=_generateButton
                    @onclick=@(async () => await JSRuntime.InvokeVoidAsync("playButtonAnimation", _generateButton))>
                Generate
            </button>
        </EditForm>
    }
</div>

<TabBar />

@code {
    [Parameter]
    public string? Type { get; set; }

    [Parameter]
    public string? Format { get; set; }

    private IGenerateModel? _model;
    private ElementReference _generateButton;

    /// <summary>
    /// Initializes code generate model based on type and format
    /// </summary>
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (string.IsNullOrWhiteSpace(Type) || string.IsNullOrWhiteSpace(Format))
            return;

        // Barcode models
        _model = Format switch
        {
            "Code128" => new Code128Model(),
            "Code39" => new Code39Model(),
            "Code93" => new Code93Model(),
            "CodaBar" => new CodaBarModel(),
            "Ean13" => new Ean13Model(),
            "Ean8" => new Ean8Model(),
            "Itf" => new ItfModel(),
            "Upca" => new UpcaModel(),
            "Upce" => new UpceModel(),
            "I2OF5" => new I2OF5Model(),
            _ => null
        };

        if (_model is not null)
            return;

        // QR models
        _model = Type switch
        {
            "Text" => new TextModel(),
            "Url" => new UrlModel(),
            "Email" => new EmailModel(),
            "WiFi" => new WiFiModel(),
            "GeographicCoordinates" => new GeographicCoordinatesModel(),
            "ContactInfo" => new ContactInfoModel(),
            "CalendarEvent" => new CalendarEventModel(),
            "Phone" => new PhoneModel(),
            "Sms" => new SmsModel(),
            _ => new TextModel()
        };
    }

    /// <summary>
    /// Sets value of property
    /// </summary>
    private void SetValue(PropertyInfo property, object? value)
    {
        if (string.IsNullOrWhiteSpace(value?.ToString()))
            property.SetValue(_model, null);
        else
        {
            try
            {
                property.SetValue(_model, Convert.ChangeType(value, Nullable.GetUnderlyingType(property.PropertyType) ?? property.PropertyType));
            }
            catch
            {
                return;
            }
        }
    }

    /// <summary>
    /// Saves generated code and navigates to details tab
    /// </summary>
    private async Task HandleSubmitAsync()
    {
        if (_model is null)
            return;

        // Sets type to Isbn if Ean13 starts with 978 or 979
        if (_model is Ean13Model && _model.GetValue().StartsWith("978") || _model.GetValue().StartsWith("979"))
            Type = "Isbn";

        string id = await LocalStorageService.SaveCodeAsync(_model!.GetValue(), Type!, Format!, "Generated");

        NavigationManager.NavigateTo($"/details/{id}");
    }
}
